.add-admin{
    background-color: rgba(235, 234, 234, 0.8);
    padding: 5px;
}
.add-admin h2{
    text-align: center;
    color: #222222;
    font-size: 20px;
}
.add-admin form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.add-admin label{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.add-admin input , .add-admin textarea{
    font-size: 14px;
    text-align: center;
    width: 300px;
    border-radius:5px;
    border: none;
    box-shadow:1px 1px 1px #04ace4;
    transition: ease .3s;
}

.add-admin input:focus ,.add-admin textarea:focus{
    box-shadow:2px 2px 2px #04ace4;
    border-radius: 8px;
    border: none;
    outline: none;
}
.add-admin textarea{
    field-sizing: content;
    resize: none;
}
.add-admin input[type="file"]::file-selector-button{
    font-size: 14px;
    padding: 5px;
    color: #222222;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 5px;
    transition: .2s ease;
}
.add-admin input[type="file"]::file-selector-button:hover{
    font-size: 15px;
    font-weight: 700;
}
form .btn-add{
    width: 10%;
    margin: auto;
    margin-top: 5px;
    background-color: #6a0dad;
    color: #ffffff;
}
form .btn-add:hover{
    background-color: #966eb2;
    color: #222222;
}
.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 12px;
  padding: 20px;
  border-radius: 12px;
}
.features > div {
  position: relative;
  overflow: hidden;
}
/*Vamos a hacer que el input checBox sea invisible pero funcional*/
.features input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    outline: none;
}
/*Aqui se va crear la caja que el usuario va a ver y tocar*/
.features label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    min-height: 80px;
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    color: #222222;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.features label:hover{
    border-color: #04ace4;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
/*Aqui vamos a hacer que "seleccione" el label lo que en realidad sera asignar el checked al input*/
.features input:checked+label{
    background-color: #FFD700;
    border-color: #222222;
    color: #222222;
    font-weight: 700;
     box-shadow: 0 4px 8px rgba(17, 18, 18, 0.2);
}
.features label svg {
  width: 28px;
  height: 28px;
  stroke-width: 2;
  fill: none;
  stroke: currentColor;
  transition: transform 0.2s ease;
}
.features label:hover svg {
  transform: scale(1.1);
}

